:root{
    /* COLORES BASE */
    --white: #FFFFFF;
    --black: #000000;
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --h-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
}

/* NAVBAR */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    /* height: 100vh; */
}
#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-ligth-pink);
}
.menu{
    display: none;
}
.logo{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 40px;
}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left{
    display: flex;
    margin-left: 12px;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-ligth-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin: 4px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    color: var(--h-green);
    border: 1px solid var(--h-green);
}
.navbar-email{
    color: var(--very-ligth-pink);
    font-size: var(--sm);
    margin-left: 5px;
    margin-right: 12px;
}
.navbar-message-gmail{
    position: relative;
}
.navbar-message-gmail div{
    width: 15px;
    height: 15px;
    background-color: var(--h-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-navbar{
    border: none !important;
}
.gmail{
    width: 30px;
}

/* MAIN */

.container{
    width: 100%;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-flow: column;
}
.main-img{
    width: 100%;
    display: grid;
    justify-content: center;
}
.main-img img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 80px;
    box-shadow: 1px 5px 8px 8px rgba(255, 255, 255, 0.5);
}
.main-img img:hover{
    box-shadow: 1px 5px 8px 8px var(--h-green);
}
.main-description{
    /* width: 100%; */
    color: var(--white);
    margin-top: 50px;
    margin-right: 30px;
}
.main-description h5{
    font-size: 20px;
}
.main-description
h1, h3{
    margin-bottom: 15px;
    color: var(--h-green);
}
.main-description p{
    margin-right: 80px;
    margin-top: 10px;
}
.angular, .java{
    color: rgb(230, 78, 78);
}
.javascript{
    color: rgb(245, 245, 72);
}
.python, .react{
    color:rgb(69, 130, 235)
}
.django, .spring, .node{
    color: yellowgreen;
}
.github{
    color: #C7C7C7;
}
.svelte{
    color: rgb(238, 117, 95);
}
.footer{
    width: 100%;
    height: 30px;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer a{
    color: var(--white);
    margin: 5px;
    font-size: 30px;
}
.footer a:hover{
    color: var(--h-green);
}
.cvDowload{
    font-size: 20px !important;
    text-decoration: none;
    color: var(--h-green) !important;
}
.cvDowload:hover{
    color: var(--white) !important;
}

/* Botones Flotantes */
.btn-flotante-messenger {
	border-radius: 10%; /* Borde del boton */
	padding: 2px 2px; /* Relleno del boton */
	position: fixed;
	bottom: 50px;
	right: 45px;
	z-index: 99;
    margin: 25px 0;
}
.btn-flotante-messenger img{
    width: 45px;
    height: 45px;
}
.btn-flotante-telegram{
    border-radius: 10%;
	padding: 2px 2px; /* Relleno del boton */
	position: fixed;
	bottom: 120px;
	right: 40px;
	z-index: 99;
}
.btn-flotante-telegram img{
    width: 60px;
    height: 60px;
}
.btn-flotante-messenger img:hover {
	cursor: pointer;
    transform: rotate(180deg);
}
.btn-flotante-telegram img:hover {
	cursor: pointer;
    transform: rotate(45deg);
}

/* SCROLL */

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--h-green);
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}

/* MEDIA QUERYS */
@media(max-width:1000px){
    .main-img{
        align-content: center;
    }
    .main-img img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 50px;
    }
    .main-description p{
        margin-right: 10px;
    }
    .btn-flotante-messenger {
	    bottom: 30px;
    }
    .btn-flotante-telegram {
	    bottom: 100px;
    }
}
@media(max-width:790px){
    .logo{
        display: none;
    }
    .navbar-left{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .navbar-left ul{
        margin-left: 0;
    }
    .navbar-left ul li a{
        font-size: 13px;
    }
    .navbar-email{
        display: none;
    }
    .navbar-message-gmail{
        display: none;
    }
    .main-description h5,h3{
        font-size: 17px;
    }
    .footer a{
        font-size: 20px;
    }
    .btn-flotante-messenger {
	    bottom: 10px;
	    right: 32px;
    }
    .btn-flotante-telegram {
	    bottom: 80px;
	    right: 25px;
    }
    .cvDowload{
        font-size: 15px !important;
    }
}
@media(max-width:675px){
    .main-container{
        display: inline-block;
    }
    .main-description{
        margin-left: 30px;
        text-align: center;
    }
    .main-description p{
        margin-right: 0;
        font-size: 13px;
    }
    .main-description h5,h3{
        font-size: 15px;
    }
    .footer{
        text-align: center;
    }
    .btn-flotante-messenger {
	    bottom: 0;
	    right: 12px;
    }
    .btn-flotante-telegram {
	    bottom: 65px;
	    right: 5px;
    }
}